<h1 class="app-name"><i class="fa fa-gift" aria-hidden="true"></i> Goody</h1>

<div class="scrollable">
  <!-- <h1 class="scrollable-header app-name">Goody</h1> -->
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/"><i class="fa fa-cogs" aria-hidden="true"></i> Settings <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>
